@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #1ba097;
  --color-secondary:#015051;
  --color-dark:#015051;
  --color-bg: #21bba9;
  /* Fonts */
  --font-kalam:"Kalam", serif;
}
